* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

body {
  /* font-size: 16px; */
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .wrapper * {
  color: #000;
} */

.cv-content {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 70%;
  min-height: 1000px;
  margin: 34px auto;
  padding-bottom: 30px;
}

.cv-heading {
  margin: 28px auto;
  text-align: center;
}
.cv-heading h1 {
  font-size: 26px;
}

.cv-body {
  margin: 0 72px;
  max-width: 660px;
}
.cv-body h3 {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
}
h1,
h2,
h3 {
  color: rgba(9, 9, 121, 1);
}
hr {
  width: 100%;
  height: 3px;
  background: #000;
}

.job-list {
  text-align: justify;
  line-height: 1.4;
  display: block;
  list-style-type: disc;
  margin: 16px 0;
  padding-left: 20px;
}

.job-title {
  display: inline-block;
}
.job-title + span {
  margin-left: 350px;
  font-weight: 500;
}

.main {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
.cv-left {
  width: 30%;
  background: rgba(9, 9, 121, 1);
}

.main-left {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.main-left .avatar {
  width: 200px;
  height: 200px;
  align-self: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
.avatar:hover {
  border-radius: 0;
  outline: 10px solid #434cca;
}
.main-left {
  padding: 10px;
}
.main-left > .content,
.main-left > .content a,
.main-left h2 {
  color: #fff;
}
.main-left a {
  text-decoration: none;
}
.main-left .content span {
  display: block;
  margin-top: 10px;
}
/* Bai 2 */

.pricing-contain {
  width: 1200px;
  display: flex;
  font-size: 1.6rem;
  flex-direction: column;
  margin: 40px auto;
  /* background-color: #ccc; */
  align-items: center;
}

.pricing-title h1 {
  font-size: 2.6rem;
  margin: 20px 0 10px;
}
.pricing-title p {
  margin: 20px -20px;
}

.pricing-body {
  font-size: 1.6rem;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.item-plan {
  width: 300px;
  min-height: 300px;
  border-radius: 20px;
  background: #a7e2e2;
  /* text-align: center; */
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 30px 20px;
  gap: 10px;
}
.item-plan span {
  margin-top: 30px;
}

.item-plan h2 {
  font-size: 2.6rem;
}

.item-plan a {
  width: 200px;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  background-color: #021d1b;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}
.item-plan a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.item-plan:hover {
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.item-feature::before {
  content: "✓ ";
}
.pricing-body .item-plan:nth-child(2) {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  /* scale: 110%; */
}
.pricing-body .item-plan:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

/* Bai 3 */
.inner {
  background-color: #e64545;
  padding: 0 15px;
}
.inner h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 2.6rem;
}
.products-list {
  width: 1200px;
  display: flex;
  gap: 30px;
  margin: 50px auto;
  justify-content: center;
  /* align-item: center; */
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  width: calc(100% / 3 - 30px);
  min-height: 400px;
  border-radius: 10px;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.product-item:hover {
  box-shadow: 10px 10px 5px #888888;
}

.product-item .img-item {
  width: 100%;
  height: 300px;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}
.product-item .info-item {
  padding: 20px 10px;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.product-item .item-cost {
  margin: 10px 0;
  font-weight: 500;
  color: red;
}

.info-item > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-item a {
  margin-top: 10px;
  display: block;
  padding: 10px;
  text-decoration: none;
  background-color: #833ab4;
  justify-items: center;
  text-align: center;
  border-radius: 20px;
  align-self: center;
  color: #fff;
}

.product-item a:hover {
  cursor: pointer;
  opacity: 0.8;
}




/* bai 4 */
.contain{
  display: flex;
  max-width: 900px;
  width: 80vw;
  /* min-height: 80vh; */
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.8);
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;

}
.main-register {
  /* background-color: red; */
  width: 50%;
display: flex;
flex-direction: column;
/* margin: 100px 30px; */
padding: 20px;
}
.main-register h1{
  font-size: 2rem;
  text-align: center;
}
.form-register label {
  display: block;
  margin: 10px 0;
}
.form-register input {
  width: 100%;
  padding: 10px;
}

.form-register a{
  margin: 10px 25%;
  text-decoration: none;
  display: inline-block;
  min-width: 200px;
  background-color: #22C1C3;
  padding: 10px;
  text-align: center;
  justify-items: center;
  border-radius: 10px;
  color: #fff;
}
.form-register a:hover{
  opacity: .6;
}

.bg-register {
  width: 50%;

}
.bg-register img{
  width: 100%;
  object-fit: cover;
}

/* bai 5 */
.froggy-main h1 {
  font-size: 2.6rem;
  text-align: center;
}
.froggy-main div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.froggy-main img{
  width: 80%;
}